body {
  background: linear-gradient(
    to bottom,
    #f5efe6,
    #e8dcc8
  );
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #0f5132;
  color: white;
  align-items: center;
}

.nav-links span {
  margin: 0 10px;
  cursor: pointer;
}

.btn {
  background: orange;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
}

/* Hero */
.hero {
  padding: 60px;
  color: white;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1587474260584-136574528ed5") center/cover;
}

.hero h1 {
  font-size: 40px;
}

.hero-buttons button {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
}

/* Features */
.features {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background: white;
  width: 25%;
  text-align: center;
}

/* Grid */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

/* Risk */
.high { color: red; }
.medium { color: orange; }
.low { color: green; }

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background: #0f5132;
  color: white;
}